@model WebProje.Models.Ilanlar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ilanlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ilanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ilanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ilanTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ilanTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hayvan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hayvan.hayvanId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ilanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
